<div fxLayout="column" fxLayoutGap="1em" class="stdPadding">
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center">
        <button *ngIf="isModal" mat-icon-button (click)="closeModal.emit()">
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <button *ngIf="!isModal" mat-icon-button (click)="back()">
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <span class="bigText">Add Item</span>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="addItemForm" fxLayout="column" fxLayoutGap="1em">
        <mat-form-field>
            <input matInput formControlName="code" placeholder="Item Code" type="text" required #code>
        </mat-form-field>
        <mat-form-field>
            <input ma