<div fxLayout="column" fxLayoutGap="1em" class="stdPadding">
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center">
        <button mat-icon-button (click)="back()">
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <span class="bigText">Items</span>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
        <span>{{commafy((displayedItems | async).length)}} Items</span>
        <button mat-raised-button color="primary" routerLink="/addItem" #addItem>Add Item</button>
    </div>
    <div class="autoOverflow" *ngIf="displayedItems.value.length > 0">
        <table mat-table [dataSource]="displayedItems" fxFill>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
    